In [1]:
x = int(input('enter the number'))

enter the number 35

In [53]:
y = float(input('enter the float number'))
type(y)

enter the float number 7

float

In [3]:
number = int(input('enter the number'))
if number > 0:
    print('number is +ve')
elif number < 0:
    print('number is -ve')
else:
    print('number is zero')

enter the number 67

number is +ve

In [4]:
list_integer = list(input('enter the list of integer'))

enter the list of integer 56

In [5]:
list_integer = [int(x) for x in input('enter the number : ').split()]

enter the number :  567

In [6]:
fruit = input('enter the name of fruit'.split())

['enter', 'the', 'name', 'of', 'fruit'] apple

In [7]:
value= input('enter the value').split()

enter the value 123

In [8]:
name = input('enter your name'.upper())

ENTER YOUR NAME partha

In [9]:
food = input('enter the name of food')
print(food.upper())

enter the name of food chickem

CHICKEM

In [10]:
number = input('enter the number')
print(number.split())

enter the number 345

['345']

In [11]:
#9. Write a program that takes a number as input and checks if it is even or odd.
number = int(input('enter the number'))
if number %2 ==0 :
    print('the number is even')
else:
    print('number is odd')

enter the number 4

the number is even

In [12]:
number = int(input('enter the number'))
square = number * number
print(square)

enter the number 45

2025

In [13]:
number = int(input('enter the number'))
divisible = number %3 ==0
print(divisible)

enter the number 21

True

In [14]:
number = int(input('enter the number'))
if number %3==0:
    print('number is divisible by 3')
else:
    print('number is not divisible by 3')

enter the number 45

number is divisible by 3

In [15]:
number1 = int(input('enter the number1'))
number2 = int(input('enter the number2'))
product = number1*number2
print(product)

enter the number1 45
enter the number2 45

2025

In [16]:
vagetable = input('enter the name of vagetable')
print(vagetable.split())

enter the name of vagetable cocomber

['cocomber']

In [17]:
number = int(input('enter the number'))
#number2 = int(input('enter the number2'))
divide = number %3==0 and number %7==0
print(divide)

enter the number 21

True

In [18]:
startletter= input('enter the name of word')
if startletter =='a':
    print('it is vowel')
elif startletter =='e':
     print('it is vowel')
elif startletter =='i':
     print('it is vowel')
elif startletter =='o':
     print('it is vowel')    
elif startletter =='u':
     print('it is vowel')
else:
    print('it is consonet')

enter the name of word e

it is vowel

In [20]:
num = int(input("Enter a number: "))
  if num > 1:
     for i in range(2, num):
         if num % i == 0:
             print("Not a prime number")
             break
             else:
             print("Prime number")
     else:
         
         print("Not a prime number")

IndentationError: unexpected indent (3909008346.py, line 2)

In [21]:
num = int(input('enter a number'))
if num > 0:
    for i in range(2,num):
        if num %i ==0:
            print('not a prime number')
            break
        else:
            print('prime number')
    else:
        print('not a prime number')

enter a number 3

prime number
not a prime number

In [22]:
number = int(input('enter the number'))
if number > 0:
    for i in range(1,number):
        if number %i ==0:
            print('number is not a prime number')
            
        else:
            print('the number is prime number')
            
    else:
        print('not prime')

enter the number 3

number is not a prime number
the number is prime number
not prime

In [23]:
string1 = "1,2,3,4,5,6"
print(string1)

1,2,3,4,5,6

In [24]:
sorted(string1, reverse=True)

['6', '5', '4', '3', '2', '1', ',', ',', ',', ',', ',']

In [25]:
string1

'1,2,3,4,5,6'

In [26]:
string1

'1,2,3,4,5,6'

In [29]:
Name = input('Enter user name :')
age = int(input('enter your age '))

Enter user name : partha
enter your age  23

In [30]:
print(f'hi, {Name} and your age is {age} years old')

hi, partha and your age is 23 years old

In [31]:
string2 = input('enter the string')
print(string2 , string2[::-1])

enter the string prakash

prakash hsakarp

In [32]:
string3 = input('enter the string')
print(string3,sorted(string3 ,reverse=True))

enter the string cat

cat ['t', 'c', 'a']

In [33]:
string3 = input('enter the string')
print(string3,sorted(string3 ,reverse=False))

enter the string bat

bat ['a', 'b', 't']

In [50]:
# factorial
number = int(input('enter the number'))
for i in range(1,number):
    number = number +1
 factorial = number * number-1 
print(factorial)

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [54]:
d = 3.4
int(d)

3

In [55]:
g = 3
float(g)

3.0

In [61]:
# factorial
number = int(input('enter the number'))
for i in range(1,number):
    number = number +1
    f = 1
 factorial = f * number
print(factorial)

IndentationError: unindent does not match any outer indentation level (<string>, line 6)

In [65]:

# factorial
number = int(input('enter the number'))
for i in range(1,number):
    number = number +1
    f = 1
 factorial= f *i 
print(factorial)

IndentationError: unindent does not match any outer indentation level (<string>, line 6)

In [68]:
list1 =[1,2,3,4,5,6,11,23,123,1234,78]
list1[::-1]

[78, 1234, 123, 23, 11, 6, 5, 4, 3, 2, 1]

In [69]:
list1 =[1,2,3,4,5,6,11,23,123,1234,78]
list1[::-2]

[78, 123, 11, 5, 3, 1]

In [70]:
list1 =[1,2,3,4,5,6,11,23,123,1234,78]
list1[0:8:3]

[1, 4, 11]

In [71]:
def print_factors(n):
    """
    This function takes an integer 'n' as input and prints all of its factors.
    """
    if n <= 0:
        print("Please enter a positive integer.")
        return

    print("The factors of", n, "are:")
    for i in range(1, n + 1):
        if n % i == 0:
            print(i)

In [79]:
num = int(input('emter the number'))
if num > 0:
    print('not -ve number')
for i in range(1,num):
    num = num+1
  
f = 1
factor = num%i ==0
print(factor)

emter the number 3

not -ve number
False

In [82]:
 num = int(input("Enter a number: "))
  factorial = 1
 
for i in range(1, num + 1):
 factorial *= i
 print("Factorial:", factorial)

IndentationError: unexpected indent (3484050162.py, line 2)

In [85]:
year = int(input('enter the year'))
leapyear = year%4==0
print(leapyear)

enter the year 2024

True

In [86]:
179-125

54

In [89]:
year = int(input('enter the year'))
if year%4==0:
    print('leapyear')
else:
    print("not leapyear")

enter the year 2024

leapyear

In [92]:
number = int(input('enter the number'))
square = number % sqrt==0
print(square)

enter the number 25

NameError: name 'sqrt' is not defined

In [2]:
import math
number = int(input('enter the number'))
if math.isqrt(number)**2 ==number:
    print('perfect square')
else:
    print('not perfect square')

enter the number 1

perfect square

In [5]:
import math
number1 = int(input('enter the number'))
if math.isqrt(number1)**2 ==number1:
    print('perfect square')
else:
    print('not perfect square')

enter the number 144

perfect square

In [19]:
user_input = input('enter the value True or False: ' ).upper()==True

enter the value True or False:  true

In [24]:
user_input = input('enter the user input')
if not user_input:
    print('not empty string')
else:
    print('empty string')

enter the user input w

empty string

In [28]:
num = int(input('enter the number'))
if num %3 ==0 and num %5==0:
    print('the number is divisible by both 3 and 5')
else:
    print('the number is not divisible by 3 and 5')

enter the number 15

the number is divisible by both 3 and 5

In [29]:
a = 4
b = 3
print(a)
print(b)

4
3

In [30]:
a,b = b,a

In [31]:
print(a)
print(b)

3
4

In [41]:
a = int(input('enter the first number'))
b = int(input('enter the secand number'))
  a,b = b,a
print(f'swap two string is a = {a} , b ={b})

IndentationError: unexpected indent (2048143435.py, line 3)

In [43]:
a = input("Enter first value: ")
b = input("Enter second value: ")
 a, b = b, a
 print(f"Swapped values: a = {a}, b = {b}")

IndentationError: unexpected indent (2118710879.py, line 3)

In [46]:
number = int(input('enter the number'))
cube = number * number * number
print(cube)

enter the number 5

125

In [50]:
number = int(input('enter the number').split())

enter the number 1,2,3

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'