In [1]:
a1 = {1,3,2,4,5,6,7,8,9}
b2 = {35,4,555,65,75}
c2= {10,20,30,40}

In [2]:
a1.issubset(b2)

False

In [3]:
b2.isdisjoint(c2)

True

In [4]:
b2.issuperset(a1)

False

In [5]:
d = {}

In [6]:
d

{}

In [7]:
type(d)

dict

In [8]:
d1 = {1:'one',2:'two',3:'three'}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [9]:
d1.keys()

dict_keys([1, 2, 3])

In [10]:
d1.values()

dict_values(['one', 'two', 'three'])

In [11]:
d1.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [12]:
d1[2]

'two'

In [13]:
d1.get(3)

'three'

In [14]:
d1

{1: 'one', 2: 'two', 3: 'three'}

In [15]:
for i in d1:
    print(i)

1
2
3

In [16]:
id(d1)

2681921356608

In [17]:
x = 3
y = 5

In [18]:
#help()

TUPLE CREATION

In [19]:
t1 = (1,2,3,4,5)
t2 = (1.2,3.4,5.6,98.7)
t3 = ('apple','orange','dragen fruit','grapes')
t4 = (True,False)
t5 = (2+3j,5+7j,56+80j)
t6 = (34,5.6,'partha',True,{45,56},5+6j,{'prakash','deep'},[23,9.5],('nit','usa'))

In [20]:
print(f'the intiger tuple t1 is = {t1}')
print(f'the float tuple t2 is = {t2}')
print(f'the string tuple t3 is = {t3}')
print(f'the boolen tuple t4 is = {t4}')
print(f'the complex tuple t5 is = {t5}')
print(f'the mixed type of tuple t6 is = {t6}')

the intiger tuple t1 is = (1, 2, 3, 4, 5)
the float tuple t2 is = (1.2, 3.4, 5.6, 98.7)
the string tuple t3 is = ('apple', 'orange', 'dragen fruit', 'grapes')
the boolen tuple t4 is = (True, False)
the complex tuple t5 is = ((2+3j), (5+7j), (56+80j))
the mixed type of tuple t6 is = (34, 5.6, 'partha', True, {56, 45}, (5+6j), {'deep', 'prakash'}, [23, 9.5], ('nit', 'usa'))

TUPLE INDEXING

In [21]:
t1[0]

1

In [22]:
t3

('apple', 'orange', 'dragen fruit', 'grapes')

In [23]:
t3[2]

'dragen fruit'

In [24]:
len(t3[2])

12

In [25]:
t3[2][4]

'e'

In [26]:
t4[1]

False

In [27]:
t4[1][2]

TypeError: 'bool' object is not subscriptable

In [ ]:
d5 = (true,false)
print(d5)

In [ ]:
d5

In [ ]:
d5 = {true,false}
print(d5)

In [28]:
t1

(1, 2, 3, 4, 5)

In [29]:
d5

NameError: name 'd5' is not defined

In [30]:
tuple1 = ('true','false')
print(tuple1)

('true', 'false')

In [31]:
tuple1[1]

'false'

In [32]:
tuple1[1][2]

'l'

In [33]:
t3

('apple', 'orange', 'dragen fruit', 'grapes')

In [34]:
t3[-1]

'grapes'

In [35]:
t3[-3]

'orange'

In [36]:
t3[:-1]

('apple', 'orange', 'dragen fruit')

In [37]:
t3

('apple', 'orange', 'dragen fruit', 'grapes')

In [38]:
t3[::-1]

('grapes', 'dragen fruit', 'orange', 'apple')

In [39]:
t3[:-2]

('apple', 'orange')

In [40]:
t3[::-2]

('grapes', 'orange')

In [41]:
t3

('apple', 'orange', 'dragen fruit', 'grapes')

In [42]:
t6

(34,
 5.6,
 'partha',
 True,
 {45, 56},
 (5+6j),
 {'deep', 'prakash'},
 [23, 9.5],
 ('nit', 'usa'))

In [43]:
print(len(t6))

9

In [44]:
t6[8]

('nit', 'usa')

TUPLE SLICING

In [45]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [46]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [47]:
mytuple[ : -3]

('one', 'two', 'three', 'four', 'five')

In [48]:
mytuple[-3:]

('six', 'seven', 'eight')

In [49]:
mytuple[1:-3]

('two', 'three', 'four', 'five')

In [50]:
mytuple[-2:]

('seven', 'eight')

In [51]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [52]:
mytuple[0:-2]

('one', 'two', 'three', 'four', 'five', 'six')

In [53]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

REMOVE AND CHANGE ITEM

In [54]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [55]:
del mytuple[1] # tuple is immutable so the user can not change any element in the tuple

TypeError: 'tuple' object doesn't support item deletion

In [56]:
mytuple[1] = 6 # tuple is immutable so the user can not modifay any element in the tuple

TypeError: 'tuple' object does not support item assignment

LOOP THROUGH A TUPLE

In [57]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [58]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

COUNT

In [59]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
print(mytuple1)

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [60]:
mytuple1.count('one')

3

In [61]:
mytuple1.count('two')

2

TUPLE MEMBERSHIP

In [62]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [63]:
if 'six' in mytuple:
    print(True)

True

In [64]:
"four" in mytuple

True

In [65]:
'lone' in mytuple

False

In [66]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [67]:
if 'nine' in mytuple:
    print('nine present in mytuple')
else:
    print('nine is not present in mytuple')

nine is not present in mytuple

In [68]:
print("'one' and 'two' are present in mytuple")

'one' and 'two' are present in mytuple

In [69]:
if 'one'and 'two' in mytuple:
    print("'one' and 'two' are present in mytuple")
else:
    print("'one' and 'two' are not present in mytuple")

'one' and 'two' are present in mytuple

In [70]:
if 'ten'and 'two' in mytuple:
    print("'ten' and 'two' are present in mytuple")
else:
    print("'ten' and 'two' are not present in mytuple")

'ten' and 'two' are present in mytuple

In [71]:
if 'ten'and 'twenty' in mytuple:
    print("'ten' and 'twenty' are present in mytuple")
else:
    print("'ten' and 'twenty' are not present in mytuple")

'ten' and 'twenty' are not present in mytuple

INDEX POSITION

In [72]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [73]:
mytuple1.index('two')

1

In [74]:
mytuple1.index('twenty')

ValueError: tuple.index(x): x not in tuple

In [75]:
mytuple1.index('one')

0

SORTING

In [76]:
mytuple2 = (43,67,99,12,6,90,67)

In [77]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [78]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [79]:
sorted(mytuple2 ,reverse=True)

[99, 90, 67, 67, 43, 12, 6]

SET

In [80]:
s1 = set()

In [81]:
s1

set()

In [82]:
type(s1)

set

In [83]:
myset = {5,6,7,8,9}

In [84]:
len(myset)

5

In [85]:
myset.add(5)# in set duplite of

In [86]:
print(myset)

{5, 6, 7, 8, 9}

In [91]:
s1 = {1,2,3,4,5}
s2 = {2.3,4.5,7.6}
s3 = {'apple','potato','tomato','ledisfinger'}
s4 = {23,987,'partha',(10,34),('tomato','ledisfinger')}

In [93]:
print(f'The integer set s1 = {s1}')
print(f'the float type of the set s2 = {s2}')
print(f'the string type  of set s3 = {s3}')
print(f'the mixed type of set s4 = {s4}')

The integer set s1 = {1, 2, 3, 4, 5}
the float type of the set s2 = {2.3, 4.5, 7.6}
the string type  of set s3 = {'apple', 'tomato', 'ledisfinger', 'potato'}
the mixed type of set s4 = {('tomato', 'ledisfinger'), (10, 34), 23, 'partha', 987}

In [95]:
len(s4)

5

In [96]:
set1 = {'one','two','three','four','five'}

In [98]:
for i in set1:
    print(i)

three
one
two
five
four

In [100]:
for i in enumerate(set1):
    print(i)

(0, 'three')
(1, 'one')
(2, 'two')
(3, 'five')
(4, 'four')

SET MEMBERSHIP

In [101]:
set1

{'five', 'four', 'one', 'three', 'two'}

In [104]:
'one' in set1

True

In [106]:
'one','two' in set1

('one', True)

In [108]:
'one','twenty' in set1

('one', False)

In [113]:
if 'one' in set1:
    print('one present in set1')
else:
    print('two is not present in the  set')

one present in set1

In [115]:
if 'ten' in set1:
    print('ten present in set1')
else:
    print('ten is not present in the  set')

ten is not present in the  set

ADD AND REMOVE IN SET

In [116]:
set1

{'five', 'four', 'one', 'three', 'two'}

In [123]:
set1.add('six')

In [124]:
set1

{'five', 'four', 'one', 'six', 'three', 'two'}

In [127]:
set1.update(['seven','eight','nine'])

In [128]:
set1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [129]:
set1.remove('nine')

In [130]:
set1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [132]:
set1.discard('six')

In [133]:
set1

{'eight', 'five', 'four', 'one', 'seven', 'three', 'two'}

In [135]:
set1.clear()

In [136]:
set1

set()

In [137]:
set1 ={' eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [138]:
set1

{' eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [140]:
set2 = set1.copy()

In [142]:
set2

{' eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [144]:
id(set1)

2681940592896

In [145]:
id(set2)

2681946400896

SET OPERATION

In [146]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [148]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [149]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [151]:
A.intersection(B)

{4, 5}

In [153]:
A-B

{1, 2, 3}

In [155]:
A^B

{1, 2, 3, 6, 7, 8}

In [157]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [158]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [160]:
A.isdisjoint(B)

False

In [162]:
A.issubset(B)

False

In [164]:
B.issuperset(A)

False