In [1]:
# single line comment

In [9]:
letter = "p"
print(letter)
print(len(letter))
letter.upper()

p
1

'P'

In [11]:
greeting = 'hey alexa'
print(greeting)
print(len(greeting))
greeting.upper()

hey alexa
9

'HEY ALEXA'

In [16]:
sentence = "I hope you are enjoying 30 days of python"
print(sentence)
print(len(sentence))
sentence.upper()

I hope you are enjoying 30 days of python
41

'I HOPE YOU ARE ENJOYING 30 DAYS OF PYTHON'

In [28]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [29]:
#string concadination

In [41]:
first_name = "parthasarathi"
last_name = "Behera"
space = " "
full_name = first_name+space+last_name
print(full_name)
print(len(full_name))
print(len(first_name))
print(len(last_name))
print(len(first_name) > len(last_name))

parthasarathi Behera
20
13
6
True

In [42]:
#unchaking cheracters

In [44]:
language = 'python'
a,b,c,d,e,f = language
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
y
t
h
o
n

In [50]:
name = 'partha'
a,b,c,d,e =name[0],name[1],name[2],name[3],name[4]
print(a)
print(b)
print(c)
print(d)
print(e)

p
a
r
t
h

In [53]:
language = 'java'
v,x,y,z = language
print(v)
print(x)
print(y)

j
a
v

In [64]:
first_letter = language[0]
print(first_letter)
print(language[1])
print(language[2])
last_index = language[-1]
last_letter = len(language)-1
print(last_letter)
secandlast_letter = language[-2]
print(secandlast_letter)

j
a
v
3
v

In [77]:
language = 'python'
first_threeleter = language[0:3]
print('first_threeleter:',first_three_leter)
last_three_leter = language[3:6]
print('last_three_leter:',last_three_leter)

first_threeleter: pyt
last_three_leter: hon

In [85]:
language = 'python'
print(language[0])
print(language[2])
print(language[4])
print(language[0:6:2])

p
t
o
pto

In [86]:
print(language[0:2:4])

p

In [87]:
#f.string

In [89]:
first_name = 'partha'
last_name = 'sarathi'
job = 'lerner'
country = 'india'
sentence = 'i am {} {}.i am a {}.i live in{}'.format(first_name, last_name , job , country)
print(sentence)

i am partha sarathi.i am a lerner.i live inindia

In [7]:
first_number = 34
secand_number = 45
sum= first_number+secand_number
sum =' the sum of {} and {} is = {}'.format(first_number,secand_number, sum)
print(sum)
multiplication = first_number*secand_number
multiplication = 'the multiplication of {} and{} is={}'.format(first_number,secand_number,multiplication)
print(multiplication)

 the sum of 34 and 45 is = 79
the multiplication of 34 and45 is=1530

In [9]:
radious = 20
pi = 3.141
area = 2*3.141*20
print('the area of the circle is ',area)

the area of the circle is  125.64

In [2]:
z = 5 +7j
print(z.real)
print(z.imag)

5.0
7.0

In [13]:
p = 8+9j
q = 12+11j
sum = p+q
substraction = q-p
multiplication = p *q
devision = q/p
print('the sum of {} and {} is={}'.format(p,q,sum))
print('the substraction of {} and {} is = {}'.format(q,p,substraction))
print('the multiplication of {} and {} is = {}'.format(p,q,multiplication))
print('the devision of {} and {} is = {}'.format(p,q,devision))

the sum of (8+9j) and (12+11j) is=(20+20j)
the substraction of (12+11j) and (8+9j) is = (4+2j)
the multiplication of (8+9j) and (12+11j) is = (-3+196j)
the devision of (8+9j) and (12+11j) is = (1.3448275862068964-0.13793103448275867j)

In [1]:
# unpaking cheracter

In [3]:
language = 'java'
a,b,c,d = language
print(a)
print(b)
print(c)
print(d)

j
a
v
a

In [6]:
name = 'partha'
e,f,g,h,i,j = name
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)

p
a
r
t
h
a

In [8]:
print(20,54.8,True,'very good')

20 54.8 True very good

In [10]:
num1 = 34
num2 = 45
sum = num1+num2
print('The sum of num1 and num2 is :',sum)

The sum of num1 and num2 is : 79

In [16]:
name = 'partha'
age = 23
city = 'hydrabad'
print('my name is',name,'and',age ,'years old from ',city)

my name is partha and 23 years old from  hydrabad

In [22]:
first_number = 50
secand_number = 20
add = first_number+secand_number
substraction = first_number - secand_number
multiplication = first_number*secand_number
print('the sum of {} and {} is = {} '.format(first_number,secand_number,add))
print('the substraction of {} and {} is = {} '.format(first_number,secand_number,substraction))
print('the multiplication of {} and {} is = {}'.format(first_number,secand_number,multiplication))

the sum of 50 and 20 is = 70
the substraction of 50 and 20 is = 30
the multiplication of 50 and 20 is = 1000

In [33]:
name = 'partha'
city = 'odisha'
print('my name is {} and i am from {}'.format(name,city))
print(f'my name is {name} and i am from {city}')

my name is partha and i am from odisha
my name is partha and i am from odisha

In [39]:
num1 = 20
num2 = 10
num3 = 30
average  =(num1+num2+num3)/3
avg1 = round(num1+num2+num3)/3,2
sub = num3-num2
print('the average of the three number is {}'.format(average))
print(f'the sum of {num1} and {num2} is {add}')
print(f'the sub of {num3} and{num2} is {sub}')
print(f'the average of three number is{avg1}')

the average of the three number is 20.0
the sum of 20 and 10 is 70
the sub of 30 and10 is 20
the average of three number is(20.0, 2)

In [42]:
print('hey goodmorning',end = ' ')
print('all of you')

hey goodmorning all of you

In [44]:
print("i am in lab",end=" ")
print(" i am avalable in 7 pm")

i am in lab  i am avalable in 7 pm

In [47]:
print('my','name','is','partha',sep='---')
print('my','name','is','partha',sep='-->')
print('my','name','is','partha',sep='>>>')

my---name---is---partha
my-->name-->is-->partha
my>>>name>>>is>>>partha

In [49]:
print('i','am','a','good','boy',sep='&&')

i&&am&&a&&good&&boy

In [53]:
print('3.5,6.6,',end=' ')
print('34','45',sep='-->>')

3.5,6.6, 34-->>45

In [60]:
i = 3+5j
print(i.real)
print(i.imag)

3.0
5.0

In [63]:
e = 5-4j
t= 5+7j
sum = e+t
multipliation = e*t
print(f'the multiplication of e and t is {multiplication}')
print(f'the sum of e and t is {sum}')

the multiplication of e and t is 1000
the sum of e and t is (10+3j)