In [1]:
t = ()
t

()

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
t = (10,20,30)
print(t)
print(f'the length of t is {len(t)}')

(10, 20, 30)
the length of t is 3

In [4]:
t1 = (10,2.3,'partha',2+4j,True,10)
print(t1)

(10, 2.3, 'partha', (2+4j), True, 10)

In [5]:
print(f'The tuple t is = {t}')
print(f'The tuple t1 is = {t1}')

The tuple t is = (10, 20, 30)
The tuple t1 is = (10, 2.3, 'partha', (2+4j), True, 10)

In [6]:
t.count(10)

1

In [7]:
t1.count(10)

2

In [8]:
t1.count(False)

0

In [9]:
t1[5]=50 #the tuple is immutable user can not change the element in thetuple
t1

TypeError: 'tuple' object does not support item assignment

In [11]:
print(f'the id of t1 is = {id(t1)}')

the id of t1 is = 2039060142240

In [12]:
t[0]

10

In [13]:
print(t)
t2 = t * 3
print(t2)

(10, 20, 30)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [15]:
t2 = t -3   
t2

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [17]:
sum = t + t1
sum

(10, 20, 30, 10, 2.3, 'partha', (2+4j), True, 10)

In [19]:
print(t1)

(10, 2.3, 'partha', (2+4j), True, 10)

In [21]:
t1[:]
t1

(10, 2.3, 'partha', (2+4j), True, 10)

In [23]:
t3 = (56,89,4,76,23,88,99,12)
t3[0]

56

In [25]:
t3[1:4]

(89, 4, 76)

In [27]:
t3[:3]

(56, 89, 4)

In [29]:
tu1 = (10, 20, 30, 10, 20, 30, 10, 20, 30)
tu1[1:6:3]

(20, 20)

In [31]:
tu1[1:6:2]

(20, 10, 30)

In [33]:
tu1[0:7:3]

(10, 10, 10)

In [35]:
tu1[:-1]

(10, 20, 30, 10, 20, 30, 10, 20)

In [37]:
tu1[:-4]

(10, 20, 30, 10, 20)

TUPLE CREATION

In [39]:
tup1 = ()
tup1

()

In [41]:
tup2 = (1,2,23,45,67) # tuple of integer number
tup2

(1, 2, 23, 45, 67)

In [43]:
tup3 = (2.8,8.09,66.98,34.76)
print(f'the float type of the tuple is = {tup3}')
tup4 = ('apple','orange','banana','cocomber')
print(f'the dtring type of tuple is = {tup4}')
tup5 = (2+4j,3+5j,4+2j)
print(f'the complex type of tuple is = {tup5}')
tup6 = (True,False)
print(f'the bool type of the tuple is = {tup6}')

the float type of the tuple is = (2.8, 8.09, 66.98, 34.76)
the dtring type of tuple is = ('apple', 'orange', 'banana', 'cocomber')
the complex type of tuple is = ((2+4j), (3+5j), (4+2j))
the bool type of the tuple is = (True, False)

In [45]:
tup7 = ('partha',24,(45,18),(2.7,7.7))
print(f'the nested type of loop is = {tup7}')
tup8 = (7,'nit',4.5,True,6+4j)
print(f'the mixed data type of tuple is = {tup8}')
tup9 = ('partha',20,18.89,[918,112],[23.5,98.45],{'alexa','gems'},(456,3))
print(f'the mixed type of tuple is = {tup9}')
print(f'the length of tup9 is = {len(tup9)}')

the nested type of loop is = ('partha', 24, (45, 18), (2.7, 7.7))
the mixed data type of tuple is = (7, 'nit', 4.5, True, (6+4j))
the mixed type of tuple is = ('partha', 20, 18.89, [918, 112], [23.5, 98.45], {'alexa', 'gems'}, (456, 3))
the length of tup9 is = 7

Tuple indexing

In [47]:
print(f'tup2 is = {tup2}')

tup2 is = (1, 2, 23, 45, 67)

In [49]:
tup2[0]

1

In [51]:
print(len(tup2))

5

In [53]:
tup2[ :2]

(1, 2)

In [55]:
tup4[0][2]

'p'

In [57]:
tup4[1][5]

'e'

In [59]:
tup9[-2]

{'alexa', 'gems'}

In [61]:
print(tup9)

('partha', 20, 18.89, [918, 112], [23.5, 98.45], {'alexa', 'gems'}, (456, 3))

In [63]:
print(tup5)

((2+4j), (3+5j), (4+2j))

tuple slicing

In [66]:
mytuple = ('one','two','three','four','five','six','seven','eight')
print(mytuple)
mytuple[0]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

'one'

In [68]:
mytuple[0:3]

('one', 'two', 'three')

In [70]:
mytuple[2:5]

('three', 'four', 'five')

In [72]:
mytuple[ :3]

('one', 'two', 'three')

In [74]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [76]:
mytuple[-4:] # it give the last 4 element

('five', 'six', 'seven', 'eight')

In [78]:
mytuple[:4]

('one', 'two', 'three', 'four')

In [80]:
mytuple[-2:]

('seven', 'eight')

In [82]:
mytuple[:-2]

('one', 'two', 'three', 'four', 'five', 'six')

In [83]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [84]:
#mytuple.remove(one)

Loop through a tuple

In [85]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [86]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [87]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [88]:
mytuple1 = ('one','two','three','four','five')
for i in mytuple1:
    print(i)

one
two
three
four
five

In [89]:
for i in enumerate(mytuple1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')

Tuple Membership

In [91]:
print(mytuple)

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [93]:
'one' in mytuple

True

In [95]:
'eight' in mytuple

True

In [96]:
'twenty' in mytuple

False

In [99]:
if'three' in mytuple:
    print("three present in the mytuple")
else:
    print('three is not present in mytuple')

three present in the mytuple

In [101]:
if'eight' in mytuple:
    print('eight is present in mytuple')
else:
    print('eight is not present in mytuple')

eight is present in mytuple

In [102]:
if'twenty' in mytuple:
    print('twenty is present in the mytuple')
else:
    print('twenty is not present in mytuple')

twenty is not present in mytuple

INDEX POSITION

In [103]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [104]:
mytuple.index('seven')

6

In [106]:
mytuple.index('one')

0

In [116]:
l = (1,2,45,677,8,999)
sorted(l)

[1, 2, 8, 45, 677, 999]

In [118]:
sorted(mytuple, reverse = True)

['two', 'three', 'six', 'seven', 'one', 'four', 'five', 'eight']

In [120]:
sorted(l,reverse = True)

[999, 677, 45, 8, 2, 1]

In [122]:
p = (34,56,1,2.5,99,10,100)
sorted(p)

[1, 2.5, 10, 34, 56, 99, 100]

In [123]:
sorted(p,reverse=True)

[100, 99, 56, 34, 10, 2.5, 1]